
$white: rgb(0, 0, 0);
$black: #fff;
$gray-900: #f8f9fa;
$gray-100: #212529;
$gray-800: #e9ecef;
$gray-200: #343a40;
$gray-700: #dee2e6;
$gray-300: #495057;
$gray-600: #ced4da;
$gray-400: #6c757d;
$blue: rgb(96, 157, 223);
$indigo: rgb(104, 80, 143);
$purple: rgb(90, 67, 133);
$pink: rgb(255, 119, 182);
$red: rgb(245, 78, 94);
$orange: rgb(253, 176, 111);
$yellow: rgb(221, 193, 109);
$green: rgb(102, 235, 132);
$teal: rgb(74, 209, 169);
$cyan: rgb(177, 240, 250);
$primary: $teal;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$badge-pill-border-radius: 0;